@using BlazorCrossPlatform.Shared.Models.Components.IconNames
@inherits LayoutComponentBase
@inject IStringLocalizer<SharedLocalisation> L

<LayoutBase>
    <Header>
        <img src="_content/BlazorCrossPlatform.Shared/BrandBlazor_nohalo_1000x.png" height="50px" />
        <SpacerBase Width="10" />
        Blazor Cross Platform
        <SpacerBase Width="10" />
        <TextSizerBase/>
    </Header>
    <NavigationMenu>
        <NavMenuBase>
            <NavLinkBase Href="/" MatchAll="true" Icon="IconName.Home" Text="@L["Home"]" />
            <NavLinkBase Href="counter" Icon="IconName.Counter" Text="@L["Counter"]" />
            <NavLinkBase Href="weather" Icon="IconName.Weather" Text="@L["Weather"]" />
            <NavLinkBase Href="device-form-factor" Icon="IconName.Weather" Text="@L["Form Factor"]" />
        </NavMenuBase>
    </NavigationMenu>
    <Main>
        @Body
    </Main>
    <Footer>
        <a href="https://www.fluentui-blazor.net" target="_blank">Fluent-UI Docs and demos</a>
        <SpacerBase Width="10" />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </Footer>
</LayoutBase>
